.banner{:style => "background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1527192491265-7e15c55b1ed2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);"}
  .container
    .message-wrapper
      - if @request.email_confirmed == true
        %h2.text-center= "Hi #{@request.name} !"
        =image_tag("in-mailing-list.png")
        %p.text-center
          Your email is confirmed, you are on the waiting list.
          %br
          We'll email you to update you when you'll be accepted.
          %br
          %br
          ="All request on waiting list should be confirmed every 3 months (we'll email you)."

      - else
        %h2.text-center= "Congrats for the request #{@request.name}."
        =image_tag("confirm-email.png")
        %p.text-center= "Please check your mail in order to confirm your email address so we can add you on our waiting list."
