.banner{:style => "background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1527192491265-7e15c55b1ed2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);"}
  .container
    .message-wrapper
      - if @request.email_confirmed == true
        %h2.text-center= "Hi #{@request.name} !"
        - if @request.state == 'accepted'
          =image_tag("accepted.png")
          %p.text-center
            You are a member of our community!
            %br
            We'll reach you to process the payment and give all details needed to start working here.
        - elsif @request.date_of_interest_confirmation.present?
          =image_tag("confirmation-of-interest.png")
          %p.text-center
            Thanks for this confirmation!
            %br
            We'll email you when you'll be accepted.
        - else
          =image_tag("in-waiting-list.png")
          %p.text-center
            Your email is confirmed, you are on the waiting list.
            %br
            We'll email you when you'll be accepted.
            %br
            %br
            ="All requests on waiting list should be confirmed every 3 months (we'll email you if necessary)."

      - else
        %h2.text-center= "Congrats for the request #{@request.name}."
        =image_tag("confirm-email.png")
        %p.text-center= "Please check your mail in order to confirm your email address so we can add you on our waiting list."
